force-app/main/default/flows/Recalculate_Scenario_Models.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Sum_Emissions</name>
        <label>Sum Emissions</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TotalScope1Baseline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_1_Baseline_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope2LBBaseline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_2_LB_Baseline_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope2MBBaseline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_2_MB_Baseline_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope3Baseline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_3_Baseline_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope1Scenario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_1_Scenario_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope2LBScenario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_2_LB_Scenario_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope2MBScenario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_2_MB_Scenario_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalScope3Scenario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Emissions_Loop.Scope_3_Scenario_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Emissions_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Recalculate Scenario Models {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalculate Scenario Models</label>
    <loops>
        <name>Sum_Emissions_Loop</name>
        <label>Sum Emissions Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_All_Scenario_Model_Input_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Emissions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Scenario_Model_Input_Records</name>
        <label>Get All Scenario Model Input Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_Emissions_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scenario_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scenario_Model_Input__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update $Record</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Scope_1_Baseline_Emissions__c</field>
            <value>
                <elementReference>TotalScope1Baseline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_1_Scenario_Emissions__c</field>
            <value>
                <elementReference>TotalScope1Scenario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_2_LB_Baseline_Emissions__c</field>
            <value>
                <elementReference>TotalScope2LBBaseline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_2_LB_Scenario_Emissions__c</field>
            <value>
                <elementReference>TotalScope2LBScenario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_2_MB_Baseline_Emissions__c</field>
            <value>
                <elementReference>TotalScope2MBBaseline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_2_MB_Scenario_Emissions__c</field>
            <value>
                <elementReference>TotalScope2MBScenario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_3_Baseline_Emissions__c</field>
            <value>
                <elementReference>TotalScope3Baseline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Scope_3_Scenario_Emissions__c</field>
            <value>
                <elementReference>TotalScope3Scenario</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Model__c</object>
    </recordUpdates>
    <screens>
        <name>FirstScreen</name>
        <label>FirstScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_All_Scenario_Model_Input_Records</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;h2&gt;Confirm Before Proceeding&lt;/h2&gt;&lt;p&gt;Metrics will be recalculated for this Scenario Model record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Recalculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmissionsSavingsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scope1EmissionsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope1Baseline</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope1Scenario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope2LBBaseline</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope2LBScenario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope2MBBaseline</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope2MBScenario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope3Baseline</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalScope3Scenario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
</Flow>
