force-app/main/default/flows/Scenario_Model_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>CreateNewInput</name>
        <choiceText>Create New Input</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Input</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditExistingInput</name>
        <choiceText>Edit Existing Input</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit Existing Input</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAdditionalInputsRequired</name>
        <choiceText>No Additional Inputs Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Additional Inputs Required</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Edit_Existing_SMI_or_Create_New</name>
        <label>Edit Existing SMI or Create New?</label>
        <locationX>573</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Exit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional Input Required</defaultConnectorLabel>
        <rules>
            <name>Edit_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditExistingInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_SMI_to_Update</targetReference>
            </connector>
            <label>Edit Existing</label>
        </rules>
        <rules>
            <name>Create_New_SMI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Scenario_Model_Input</targetReference>
            </connector>
            <label>Create New SMI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_New_Model</name>
        <label>Existing or New Model?</label>
        <locationX>1071</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>New Model</defaultConnectorLabel>
        <rules>
            <name>Existing_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingModelToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScenarioModelTable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scenario_Model_Input_Records</targetReference>
            </connector>
            <label>Existing Model</label>
        </rules>
    </decisions>
    <description>Used to manage scenario model data model records.</description>
    <dynamicChoiceSets>
        <name>CalculationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Calculation_Type__c</picklistField>
        <picklistObject>Scenario_Logic_Coefficient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CoefficientOperation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coefficient_Operation__c</picklistField>
        <picklistObject>Scenario_Logic_Coefficient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CoefficientSpread</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coefficient_Spread__c</picklistField>
        <picklistObject>Scenario_Logic_Coefficient__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InputType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Input_Type__c</picklistField>
        <picklistObject>Scenario_Model_Input__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Scenario Model Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scenario Model Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Baseline_Variable</name>
        <label>Create Baseline Variable</label>
        <locationX>172</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Create_Target_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Annual_Emissions_Inventory__c</field>
            <value>
                <elementReference>BaselineAEILookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Baseline_Scenario_Variable_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>BaselineVariableProduct.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Variable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Scenario_Logic_Coefficient</name>
        <label>Create New Scenario Logic Coefficient</label>
        <locationX>443</locationX>
        <locationY>999</locationY>
        <connector>
            <targetReference>Create_New_Scenario_Model_Input0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Baseline_Variable__c</field>
            <value>
                <elementReference>Create_Baseline_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calculation_Type__c</field>
            <value>
                <elementReference>Calculation_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Operation__c</field>
            <value>
                <elementReference>Coefficient_Operation_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Spread_Value__c</field>
            <value>
                <elementReference>Coefficient_Spread_Value_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Spread__c</field>
            <value>
                <elementReference>Coefficient_Spread_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Value__c</field>
            <value>
                <elementReference>Coefficient_Value_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Scenario_Logic_Coefficient_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Variable__c</field>
            <value>
                <elementReference>Create_Target_Variable</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Logic_Coefficient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Scenario_Model_Input0</name>
        <label>Create New Scenario Model Input</label>
        <locationX>627</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>EditSuccessfulScreen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Abatement_Cost__c</field>
            <value>
                <elementReference>Abatement_Cost_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESG_Initiative__c</field>
            <value>
                <elementReference>ESGInitiativeLookup_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input_Category__c</field>
            <value>
                <elementReference>NewScenarioModelInputTypes.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input_Type__c</field>
            <value>
                <elementReference>NewScenarioModelInputTypes.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Scenario_Model_Input_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scenario_Logic_Coefficient__c</field>
            <value>
                <elementReference>Create_New_Scenario_Logic_Coefficient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scenario_Model__c</field>
            <value>
                <elementReference>ScenarioModelTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Model_Input__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Target_Variable</name>
        <label>Create Target Variable</label>
        <locationX>170</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>Create_New_Scenario_Logic_Coefficient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Target_Scenario_Variable_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>TargetVariableProduct.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Variable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Scenario_Models</name>
        <label>Get Existing Scenario Models</label>
        <locationX>1078</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scenario_Model_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scenario_Model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_SLC</name>
        <label>Get Existing SLC</label>
        <locationX>178</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scenario_Model_Input_Edit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_SMI_to_Update.Scenario_Logic_Coefficient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scenario_Logic_Coefficient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_SMI_to_Update</name>
        <label>Get Existing SMI to Update</label>
        <locationX>309</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_SLC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScenarioModelInputTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scenario_Model_Input__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scenario_Model_Input_Records</name>
        <label>Get Scenario Model Input Records</label>
        <locationX>862</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scenario_Model_Input_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scenario_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScenarioModelTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scenario_Model_Input__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_SLC</name>
        <label>Update Existing SLC</label>
        <locationX>237</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>Update_Existing_SMI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_SLC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Baseline_Variable__c</field>
            <value>
                <elementReference>BaselineVariable.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calculation_Type__c</field>
            <value>
                <elementReference>Calculation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Operation__c</field>
            <value>
                <elementReference>Coefficient_Operation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Spread_Value__c</field>
            <value>
                <elementReference>Coefficient_Spread_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Spread__c</field>
            <value>
                <elementReference>Coefficient_Spread</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coefficient_Value__c</field>
            <value>
                <elementReference>Coefficient_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Scenario_Logic_Coefficient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Variable__c</field>
            <value>
                <elementReference>TargetVariable.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Logic_Coefficient__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_SMI</name>
        <label>Update Existing SMI</label>
        <locationX>512</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>EditSuccessfulScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_SMI_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abatement_Cost__c</field>
            <value>
                <elementReference>Abatement_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESG_Initiative__c</field>
            <value>
                <elementReference>ESGInitiativeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input_Category__c</field>
            <value>
                <elementReference>EditExistingInputTypes.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input_Type__c</field>
            <value>
                <elementReference>EditExistingInputTypes.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Scenario_Model_Input_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Scenario_Model_Input__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Scenario_Model_Input</name>
        <label>Create New Scenario Model Input</label>
        <locationX>325</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Baseline_Variable</targetReference>
        </connector>
        <fields>
            <name>NewInput</name>
            <fieldText>&lt;h2&gt;New Input&lt;/h2&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please complete the following fields, then proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario_Model_Input_0</name>
            <fieldText>Scenario Model Input</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scenario_Model_Input_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scenario_Model_Input_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Scenario Model Input Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NewScenarioModelInputTypes</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Input_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Input_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Scenario_Model_Input__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Input Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Input Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scenario_Model_Input_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ESGInitiativeLookup_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ESG_Initiative__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>ESG Initiative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Model_Input__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Abatement_Cost_0</name>
                    <dataType>Currency</dataType>
                    <fieldText>Abatement Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Baseline_Variable</name>
            <fieldText>Baseline Variable</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Baseline_Variable_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Baseline_Scenario_Variable_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Scenario Variable Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Baseline_Variable_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BaselineVariableProduct</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Variable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BaselineAEILookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Annual_Emissions_Inventory__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Annual Emissions Inventory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Variable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Target_Variable</name>
            <fieldText>Target Variable</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Target_Variable_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Scenario_Variable_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Scenario Variable Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Target_Variable_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TargetVariableProduct</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Variable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Scenario_Logic_Coefficient_0</name>
            <fieldText>Scenario Logic Coefficient</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scenario_Logic_Coefficient_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scenario_Logic_Coefficient_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Scenario Logic Coefficient Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Coefficient_Value_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Coefficient Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>8</scale>
                </fields>
                <fields>
                    <name>Coefficient_Spread_Value_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Coefficient Spread Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scenario_Logic_Coefficient_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Calculation_Type_0</name>
                    <choiceReferences>CalculationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Calculation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Coefficient_Operation_0</name>
                    <choiceReferences>CoefficientOperation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Coefficient Operation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Coefficient_Spread_0</name>
                    <choiceReferences>CoefficientSpread</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Coefficient Spread</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EditSuccessfulScreen</name>
        <label>EditSuccessfulScreen</label>
        <locationX>835</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Scenario_Model_Input_Records</targetReference>
        </connector>
        <fields>
            <name>EditSuccessfulDisplay</name>
            <fieldText>&lt;h2&gt;Existing Input Logged&lt;/h2&gt;&lt;p&gt;The existing input was updated as specified. Please proceed for more actions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EditSuccessfulScreen_0</name>
        <label>EditSuccessfulScreen</label>
        <locationX>833</locationX>
        <locationY>996</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Scenario_Model_Input_Records</targetReference>
        </connector>
        <fields>
            <name>EditSuccessfulDisplay_0</name>
            <fieldText>&lt;h2&gt;New Input Logged&lt;/h2&gt;&lt;p&gt;The new input you provided was created as specified. Please proceed for more actions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>1091</locationX>
        <locationY>898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExistDisplay</name>
            <fieldText>&lt;h2&gt;Scenario Planner Wizard&lt;/h2&gt;&lt;p&gt;Thank you for using the wizard. Your inputs will be reflected on the dashboard shortly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1268</locationX>
        <locationY>703</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExistDisplay_0</name>
            <fieldText>&lt;h2&gt;Scenario Planner Wizard&lt;/h2&gt;&lt;p&gt;Something went wrong, unfortunately. Your Salesforce administrator has been notified and will contact you to resolve this issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>1081</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Scenario_Models</targetReference>
        </connector>
        <fields>
            <name>IntroDisplay</name>
            <fieldText>&lt;h2&gt;Scenario Planner Wizard&lt;/h2&gt;&lt;p&gt;When ready to adjust a scenario, please proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scenario_Model_Input_Edit</name>
        <label>Scenario Model Input Edit</label>
        <locationX>51</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Update_Existing_SLC</targetReference>
        </connector>
        <fields>
            <name>SMIRecordEditor</name>
            <fieldText>&lt;h2&gt;Input Update&lt;/h2&gt;&lt;p&gt;Please update the fields you would like, then proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scenario_Model_Input</name>
            <fieldText>Scenario Model Input</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scenario_Model_Input_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scenario_Model_Input_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SMI_to_Update.Name</elementReference>
                    </defaultValue>
                    <fieldText>Scenario Model Input Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EditExistingInputTypes</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Scenario_Model_Input__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Input_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Input_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Input Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Input Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_Existing_SMI_to_Update.Input_Type__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Get_Existing_SMI_to_Update.Input_Category__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scenario_Model_Input_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ESGInitiativeLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ESG_Initiative__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>ESG Initiative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Model_Input__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Existing_SMI_to_Update.ESG_Initiative__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Abatement_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SMI_to_Update.Abatement_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Abatement Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Scenario_Logic_Coefficient</name>
            <fieldText>Scenario Logic Coefficient</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scenario_Logic_Coefficient_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scenario_Logic_Coefficient_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Name</elementReference>
                    </defaultValue>
                    <fieldText>Scenario Logic Coefficient Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BaselineVariable</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Logic_Coefficient__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Baseline Variable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Baseline_Variable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Existing_SLC.Baseline_Variable__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Coefficient_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Coefficient_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Coefficient Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>8</scale>
                </fields>
                <fields>
                    <name>Coefficient_Spread_Value</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Coefficient_Spread_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Coefficient Spread Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scenario_Logic_Coefficient_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Calculation_Type</name>
                    <choiceReferences>CalculationType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Calculation_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Calculation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TargetVariable</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Target_Variable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Target Variable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Scenario_Logic_Coefficient__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Existing_SLC.Target_Variable__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Coefficient_Operation</name>
                    <choiceReferences>CoefficientOperation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Coefficient_Operation__c</elementReference>
                    </defaultValue>
                    <fieldText>Coefficient Operation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Coefficient_Spread</name>
                    <choiceReferences>CoefficientSpread</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_SLC.Coefficient_Spread__c</elementReference>
                    </defaultValue>
                    <fieldText>Coefficient Spread</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scenario_Model_Input_Selection</name>
        <label>Scenario Model Input Selection</label>
        <locationX>719</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Edit_Existing_SMI_or_Create_New</targetReference>
        </connector>
        <fields>
            <name>ScenarioSelector_0</name>
            <fieldText>&lt;h2&gt;Scenario Model Input Selection&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>CreateNewInput</choiceReferences>
            <choiceReferences>EditExistingInput</choiceReferences>
            <choiceReferences>NoAdditionalInputsRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Welcome back! What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScenarioModelInputTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Scenario_Model_Input__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Scenario Model Input you would like to amend to proceed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Scenario_Model_Input_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a934&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Scenario Model Input Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Input_Type__c&quot;,&quot;guid&quot;:&quot;column-f19e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Input Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Input_Category__c&quot;,&quot;guid&quot;:&quot;column-2b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Input Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Scenario_Emissions_Savings_tCO2e__c&quot;,&quot;guid&quot;:&quot;column-dd18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Scenario Emissions Savings (tCO2e)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to_do</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditExistingInput</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scenario_Model_Selection</name>
        <label>Scenario Model Selection</label>
        <locationX>1079</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_or_New_Model</targetReference>
        </connector>
        <fields>
            <name>ScenarioSelector</name>
            <fieldText>&lt;h2&gt;Scenario Model Selection&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingModelToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to amend an existing model?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScenarioModelTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Scenario_Model__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select a Scenario Model to proceed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_Scenario_Models</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9518&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Scenario Model Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Baseline_Year__c&quot;,&quot;guid&quot;:&quot;column-6746&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Baseline Year&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Target_Year__c&quot;,&quot;guid&quot;:&quot;column-3ef6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Target Year&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Scenario_Emissions_Savings_tCO2e__c&quot;,&quot;guid&quot;:&quot;column-b270&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Scenario Emissions Savings (tCO2e)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistingModelToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>953</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
