force-app/main/default/flows/Scenario_Model_Input_After_Insert_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Business_Travel_Value</name>
        <label>Assign Business Travel Value</label>
        <locationX>928</locationX>
        <locationY>3704</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmissionsBusinessTravel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Capital_Goods_Value</name>
        <label>Assign Capital Goods Value</label>
        <locationX>938</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmissionsCapitalGoods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercial_Buildings_Value</name>
        <label>Assign Commercial Buildings Value</label>
        <locationX>939</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>Scope1BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope1.Scope1EmssnCommercialBuildings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercial_Buildings_Value_0</name>
        <label>Assign Commercial Buildings Value</label>
        <locationX>911</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Scope2LBBaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2LocBasedEmssnCmclBld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Scope2MBBaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2MarketBasedEmssnCmclBld</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP</name>
        <label>Assign Current SMIP</label>
        <locationX>2552</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_LB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_MB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_3_Upstream_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_SMIP_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_0</name>
        <label>Assign Current SMIP</label>
        <locationX>154</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_SMIP_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_0_0</name>
        <label>Assign Current SMIP</label>
        <locationX>133</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope1BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_SMIP_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_0_0_0</name>
        <label>Assign Current SMIP</label>
        <locationX>105</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2LBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2MBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_SMIP_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_0_0_0_0</name>
        <label>Assign Current SMIP</label>
        <locationX>134</locationX>
        <locationY>3046</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope3BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_SMIP_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_to_Collection</name>
        <label>Assign Current SMIP to Collection</label>
        <locationX>2556</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_to_Collection_0</name>
        <label>Assign Current SMIP to Collection</label>
        <locationX>150</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_to_Collection_0_0</name>
        <label>Assign Current SMIP to Collection</label>
        <locationX>129</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_to_Collection_0_0_0</name>
        <label>Assign Current SMIP to Collection</label>
        <locationX>101</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SMIP_to_Collection_0_0_0_0</name>
        <label>Assign Current SMIP to Collection</label>
        <locationX>130</locationX>
        <locationY>3199</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_Centers_Value</name>
        <label>Assign Data Centers Value</label>
        <locationX>927</locationX>
        <locationY>1469</locationY>
        <assignmentItems>
            <assignToReference>Scope1BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope1.Scope1EmissionsDataCenters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_Centers_Value_0</name>
        <label>Assign Data Centers Value</label>
        <locationX>918</locationX>
        <locationY>2185</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope2LBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2LocBasedEmssnDataCtr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2MarketBasedEmssnDataCtr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Downstream_Leased_Assets_Value</name>
        <label>Assign Downstream Leased Assets Value</label>
        <locationX>1447</locationX>
        <locationY>3435</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnDnstrmLeasedAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Downstream_Transport_Value</name>
        <label>Assign Downstream Transport Value</label>
        <locationX>1263</locationX>
        <locationY>3281</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnDownstreamTrnspDstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_Commuting_Value</name>
        <label>Assign Employee Commuting Value</label>
        <locationX>1080</locationX>
        <locationY>3499</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmssnEmployeeCommuting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_of_Life_Treatment_Value</name>
        <label>Assign End of Life Treatment Value</label>
        <locationX>1447</locationX>
        <locationY>3280</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnEolTreatOfSoldPrdct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP</name>
        <label>Assign Final SMIP</label>
        <locationX>2268</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_LB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_MB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_3_Upstream_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_SMIP_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_0</name>
        <label>Assign Final SMIP</label>
        <locationX>448</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_SMIP_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_0_0</name>
        <label>Assign Final SMIP</label>
        <locationX>427</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope1BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_SMIP_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_0_0_0</name>
        <label>Assign Final SMIP</label>
        <locationX>399</locationX>
        <locationY>1952</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2LBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2MBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_SMIP_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_0_0_0_0</name>
        <label>Assign Final SMIP</label>
        <locationX>428</locationX>
        <locationY>2863</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope3BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_SMIP_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_to_Collection</name>
        <label>Assign Final SMIP to Collection</label>
        <locationX>2537</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMIP_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_to_Collection_0</name>
        <label>Assign Final SMIP to Collection</label>
        <locationX>243</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMIP_Records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_to_Collection_0_0</name>
        <label>Assign Final SMIP to Collection</label>
        <locationX>221</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMIP_Records_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_to_Collection_0_0_0</name>
        <label>Assign Final SMIP to Collection</label>
        <locationX>193</locationX>
        <locationY>1957</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMIP_Records_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_SMIP_to_Collection_0_0_0_0</name>
        <label>Assign Final SMIP to Collection</label>
        <locationX>222</locationX>
        <locationY>2868</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SMIP_Records_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fleet_Vehicles_Value</name>
        <label>Assign Fleet Vehicles Value</label>
        <locationX>897</locationX>
        <locationY>1649</locationY>
        <assignmentItems>
            <assignToReference>Scope1BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope1.Scope1EmissionsFleetVehicles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fleet_Vehicles_Value_0</name>
        <label>Assign Fleet Vehicles Value</label>
        <locationX>942</locationX>
        <locationY>2475</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope2LBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2EmissionsFleetVehicles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2EmissionsFleetVehicles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Franchises_Value</name>
        <label>Assign Franchises Value</label>
        <locationX>1452</locationX>
        <locationY>3586</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmissionsFranchises</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fuel_Energy_Value</name>
        <label>Assign Fuel &amp; Energy Value</label>
        <locationX>933</locationX>
        <locationY>3216</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnFuelEnergyActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP</name>
        <label>Assign Initial SMIP</label>
        <locationX>1910</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_LB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_MB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_3_Upstream_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_LB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_2_MB_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Product_Carbon_Footprint.Total_Scope_3_Upstream_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_0</name>
        <label>Assign Initial SMIP</label>
        <locationX>895</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitialRECOffset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_0_0</name>
        <label>Assign Initial SMIP</label>
        <locationX>643</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope1BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope1BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_0_0_0</name>
        <label>Assign Initial SMIP</label>
        <locationX>615</locationX>
        <locationY>2094</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2LBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2MBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2LBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope2MBBaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_0_0_0_0</name>
        <label>Assign Initial SMIP</label>
        <locationX>644</locationX>
        <locationY>3005</locationY>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Period_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodYearPlusN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scenario_Model_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Baseline_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope3BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_1_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_LB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_2_MB_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSMIP.Scope_3_Scenario_Emissions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope3BaselineVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_to_Collection</name>
        <label>Assign Initial SMIP to Collection</label>
        <locationX>2090</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_to_Collection_0</name>
        <label>Assign Initial SMIP to Collection</label>
        <locationX>665</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_to_Collection_0_0</name>
        <label>Assign Initial SMIP to Collection</label>
        <locationX>562</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_to_Collection_0_0_0</name>
        <label>Assign Initial SMIP to Collection</label>
        <locationX>534</locationX>
        <locationY>2290</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_SMIP_to_Collection_0_0_0_0</name>
        <label>Assign Initial SMIP to Collection</label>
        <locationX>563</locationX>
        <locationY>3201</locationY>
        <assignmentItems>
            <assignToReference>SMIPsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSMIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_N_and_Update_Scenario_Figures_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investments_Value</name>
        <label>Assign Investments Value</label>
        <locationX>1450</locationX>
        <locationY>3752</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmissionsInvestments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Private_Jets_Value</name>
        <label>Assign Private Jets Value</label>
        <locationX>1015</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>Scope1BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope1.Scope1EmissionsPrivateJets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Private_Jets_Value_0</name>
        <label>Assign Private Jets Value</label>
        <locationX>1059</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope2LBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2EmissionsPrivateJets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope2.Scope2EmissionsPrivateJets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Processing_of_Sold_Products_Value</name>
        <label>Assign Processing of Sold Products Value</label>
        <locationX>1263</locationX>
        <locationY>3436</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnProcSoldProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchased_Goods_Value</name>
        <label>Assign Purchased Goods Value</label>
        <locationX>940</locationX>
        <locationY>2880</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnPurchGoodsAndServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upstream_Leased_Assets_Value</name>
        <label>Assign Upstream Leased Assets Value</label>
        <locationX>1078</locationX>
        <locationY>3660</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnUpstreamLeasedAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upstream_Transport_Value</name>
        <label>Assign Upstream Transport Value</label>
        <locationX>927</locationX>
        <locationY>3372</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scp3EmssnUpstreamTrnspDstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Use_of_Sold_Products_Value</name>
        <label>Assign Use of Sold Products Value</label>
        <locationX>1262</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmssnUseOfSoldProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waste_Value</name>
        <label>Assign Waste Value</label>
        <locationX>931</locationX>
        <locationY>3562</locationY>
        <assignmentItems>
            <assignToReference>Scope3BaselineVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Annual_Emissions_Inventory_Scope3.Scope3EmissionsWasteGenInOper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Initial_SMIP_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_N_and_Update_Scenario_Figures</name>
        <label>Increment N and Update Scenario Figures</label>
        <locationX>2270</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope1Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2LBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope3Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>N</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Periods_Been_Accounted_For</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_N_and_Update_Scenario_Figures_0</name>
        <label>Increment N and Update Scenario Figures</label>
        <locationX>451</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>N</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Periods_Been_Accounted_For_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_N_and_Update_Scenario_Figures_0_0</name>
        <label>Increment N and Update Scenario Figures</label>
        <locationX>429</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope1Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope1Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>N</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Periods_Been_Accounted_For_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_N_and_Update_Scenario_Figures_0_0_0</name>
        <label>Increment N and Update Scenario Figures</label>
        <locationX>401</locationX>
        <locationY>2290</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope2LBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2LBCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>N</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScope2MBValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope2MBCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Periods_Been_Accounted_For_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_N_and_Update_Scenario_Figures_0_0_0_0</name>
        <label>Increment N and Update Scenario Figures</label>
        <locationX>430</locationX>
        <locationY>3201</locationY>
        <assignmentItems>
            <assignToReference>CurrentScope3Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentScope3Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>N</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Periods_Been_Accounted_For_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_All_Periods_Been_Accounted_For</name>
        <label>Have All Periods Been Accounted For</label>
        <locationX>2262</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_SMIP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Periods Accounted For</defaultConnectorLabel>
        <rules>
            <name>More_Periods_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodYearPlusN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_SMIP</targetReference>
            </connector>
            <label>More Periods Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_All_Periods_Been_Accounted_For_0</name>
        <label>Have All Periods Been Accounted For</label>
        <locationX>438</locationX>
        <locationY>796</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_SMIP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Periods Accounted For</defaultConnectorLabel>
        <rules>
            <name>More_Periods_Required_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodYearPlusN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_SMIP_0</targetReference>
            </connector>
            <label>More Periods Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_All_Periods_Been_Accounted_For_0_0</name>
        <label>Have All Periods Been Accounted For</label>
        <locationX>417</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_SMIP_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Periods Accounted For</defaultConnectorLabel>
        <rules>
            <name>More_Periods_Required_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodYearPlusN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_SMIP_0_0</targetReference>
            </connector>
            <label>More Periods Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_All_Periods_Been_Accounted_For_0_0_0</name>
        <label>Have All Periods Been Accounted For</label>
        <locationX>389</locationX>
        <locationY>2129</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_SMIP_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Periods Accounted For</defaultConnectorLabel>
        <rules>
            <name>More_Periods_Required_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodYearPlusN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_SMIP_0_0_0</targetReference>
            </connector>
            <label>More Periods Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_All_Periods_Been_Accounted_For_0_0_0_0</name>
        <label>Have All Periods Been Accounted For</label>
        <locationX>418</locationX>
        <locationY>3040</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_SMIP_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Periods Accounted For</defaultConnectorLabel>
        <rules>
            <name>More_Periods_Required_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeriodYearPlusN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Target_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_SMIP_0_0_0_0</targetReference>
            </connector>
            <label>More Periods Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_Type</name>
        <label>Input Type</label>
        <locationX>1423</locationX>
        <locationY>942</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Swap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Product_Carbon_Footprint</targetReference>
            </connector>
            <label>Product Swap</label>
        </rules>
        <rules>
            <name>Renewable_Energy_Certificates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewable Energy Certificates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Annual_Emissions_Inventory</targetReference>
            </connector>
            <label>Renewable Energy Certificates</label>
        </rules>
        <rules>
            <name>Scope_1_Emissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scope 1 Emissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Annual_Emissions_Inventory_Scope1</targetReference>
            </connector>
            <label>Scope 1 Emissions</label>
        </rules>
        <rules>
            <name>Scope_2_Emissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scope 2 Emissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Annual_Emissions_Inventory_Scope2</targetReference>
            </connector>
            <label>Scope 2 Emissions</label>
        </rules>
        <rules>
            <name>Scope_3_Emissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scope 3 Emissions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Annual_Emissions_Inventory_Scope3</targetReference>
            </connector>
            <label>Scope 3 Emissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_for_SMIP_Records</name>
        <label>Ready for SMIP Records</label>
        <locationX>1410</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clean_Slate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Type</targetReference>
            </connector>
            <label>Clean Slate</label>
        </rules>
        <rules>
            <name>Recalculation_Required</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Scenario_Logic_Coefficient__r.Coefficient_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Scenario_Logic_Coefficient__r.Coefficient_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Scenario_Logic_Coefficient__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Scenario_Logic_Coefficient__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Scenario_Logic_Coefficient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMIP_Records_to_Delete</targetReference>
            </connector>
            <label>Recalculation Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scope_1_Category_Selection</name>
        <label>Scope 1 Category Selection</label>
        <locationX>1103</locationX>
        <locationY>1516</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Commercial_Buildings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Buildings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercial_Buildings_Value</targetReference>
            </connector>
            <label>Commercial Buildings</label>
        </rules>
        <rules>
            <name>Data_Centers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Centers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_Centers_Value</targetReference>
            </connector>
            <label>Data Centers</label>
        </rules>
        <rules>
            <name>Fleet_Vehicles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Vehicles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fleet_Vehicles_Value</targetReference>
            </connector>
            <label>Fleet Vehicles</label>
        </rules>
        <rules>
            <name>Private_Jets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Jets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Private_Jets_Value</targetReference>
            </connector>
            <label>Private Jets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scope_2_Category_Selection</name>
        <label>Scope 2 Category Selection</label>
        <locationX>1075</locationX>
        <locationY>2245</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Commercial_Buildings_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Buildings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercial_Buildings_Value_0</targetReference>
            </connector>
            <label>Commercial Buildings</label>
        </rules>
        <rules>
            <name>Data_Centers_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Centers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_Centers_Value_0</targetReference>
            </connector>
            <label>Data Centers</label>
        </rules>
        <rules>
            <name>Fleet_Vehicles_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Vehicles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fleet_Vehicles_Value_0</targetReference>
            </connector>
            <label>Fleet Vehicles</label>
        </rules>
        <rules>
            <name>Private_Jets_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Jets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Private_Jets_Value_0</targetReference>
            </connector>
            <label>Private Jets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scope_3_Category_Selection</name>
        <label>Scope 3 Category Selection</label>
        <locationX>1146</locationX>
        <locationY>3116</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Purchased_Goods_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased Goods and Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Purchased_Goods_Value</targetReference>
            </connector>
            <label>Purchased Goods &amp; Services</label>
        </rules>
        <rules>
            <name>Capital_Goods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capital Goods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Capital_Goods_Value</targetReference>
            </connector>
            <label>Capital Goods</label>
        </rules>
        <rules>
            <name>Fuel_Energy_Related_Activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuel and Energy-Related Activities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fuel_Energy_Value</targetReference>
            </connector>
            <label>Fuel &amp; Energy Related Activities</label>
        </rules>
        <rules>
            <name>Upstream_Transport_Distribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upstream Transportation and Distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upstream_Transport_Value</targetReference>
            </connector>
            <label>Upstream Transport &amp; Distribution</label>
        </rules>
        <rules>
            <name>Waste_Generated_in_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waste Generated In Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Waste_Value</targetReference>
            </connector>
            <label>Waste Generated in Operations</label>
        </rules>
        <rules>
            <name>Business_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Travel_Value</targetReference>
            </connector>
            <label>Business Travel</label>
        </rules>
        <rules>
            <name>Employee_Commuting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Commuting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employee_Commuting_Value</targetReference>
            </connector>
            <label>Employee Commuting</label>
        </rules>
        <rules>
            <name>Upstream_Leased_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upstream Leased Assets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Upstream_Leased_Assets_Value</targetReference>
            </connector>
            <label>Upstream Leased Assets</label>
        </rules>
        <rules>
            <name>Downstream_Transport_Distribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downstream Transportation and Distribution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Downstream_Transport_Value</targetReference>
            </connector>
            <label>Downstream Transport &amp; Distribution</label>
        </rules>
        <rules>
            <name>Processing_of_Sold_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing of Sold Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Processing_of_Sold_Products_Value</targetReference>
            </connector>
            <label>Processing of Sold Products</label>
        </rules>
        <rules>
            <name>Use_of_Sold_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Use of Sold Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Use_of_Sold_Products_Value</targetReference>
            </connector>
            <label>Use of Sold Products</label>
        </rules>
        <rules>
            <name>End_of_Life_Treatment_of_Sold_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End-of-Life Treatment of Sold Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_End_of_Life_Treatment_Value</targetReference>
            </connector>
            <label>End of Life Treatment of Sold Products</label>
        </rules>
        <rules>
            <name>Downstream_Leased_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downstream Leased Assets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Downstream_Leased_Assets_Value</targetReference>
            </connector>
            <label>Downstream Leased Assets</label>
        </rules>
        <rules>
            <name>Franchises</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Franchises</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Franchises_Value</targetReference>
            </connector>
            <label>Franchises</label>
        </rules>
        <rules>
            <name>Investments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Input_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Investments_Value</targetReference>
            </connector>
            <label>Investments</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMIP_Records_to_Delete_Returned</name>
        <label>SMIP Records to Delete Returned</label>
        <locationX>1629</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Input_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SMIP Records Returned</defaultConnectorLabel>
        <rules>
            <name>SMIP_Records_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SMIP_Records_to_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_SMIP_Records</targetReference>
            </connector>
            <label>SMIP Records Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Emissions_Inventory_Returned</name>
        <label>Was Emissions Inventory Returned?</label>
        <locationX>1092</locationX>
        <locationY>752</locationY>
        <defaultConnectorLabel>No EI Returned</defaultConnectorLabel>
        <rules>
            <name>EI_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Annual_Emissions_Inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_SMIP_0</targetReference>
            </connector>
            <label>EI Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Emissions_Inventory_Returned_0</name>
        <label>Was Emissions Inventory Returned?</label>
        <locationX>1122</locationX>
        <locationY>1233</locationY>
        <defaultConnectorLabel>No EI Returned</defaultConnectorLabel>
        <rules>
            <name>EI_Returned_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Annual_Emissions_Inventory_Scope1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scope_1_Category_Selection</targetReference>
            </connector>
            <label>EI Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Emissions_Inventory_Returned_0_0</name>
        <label>Was Emissions Inventory Returned?</label>
        <locationX>1094</locationX>
        <locationY>1962</locationY>
        <defaultConnectorLabel>No EI Returned</defaultConnectorLabel>
        <rules>
            <name>EI_Returned_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Annual_Emissions_Inventory_Scope2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scope_2_Category_Selection</targetReference>
            </connector>
            <label>EI Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Emissions_Inventory_Returned_0_0_0</name>
        <label>Was Emissions Inventory Returned?</label>
        <locationX>1123</locationX>
        <locationY>2873</locationY>
        <defaultConnectorLabel>No EI Returned</defaultConnectorLabel>
        <rules>
            <name>EI_Returned_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Annual_Emissions_Inventory_Scope3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scope_3_Category_Selection</targetReference>
            </connector>
            <label>EI Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Product_Carbon_Footprint_Returned</name>
        <label>Was Product Carbon Footprint Returned?</label>
        <locationX>1751</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>No PCF Returned</defaultConnectorLabel>
        <rules>
            <name>PCF_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Product_Carbon_Footprint</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_SMIP</targetReference>
            </connector>
            <label>PCF Returned</label>
        </rules>
    </decisions>
    <description>The AFTER insert / update record triggered flow for the Scenario Model Input object.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentScope1Calculation</name>
        <dataType>Number</dataType>
        <expression>{!CurrentSMIP.Scope_1_Scenario_Emissions__c} * ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Value__c} - ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c} * {!N}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CurrentScope2LBCalculation</name>
        <dataType>Number</dataType>
        <expression>{!CurrentSMIP.Scope_2_LB_Scenario_Emissions__c} * ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Value__c} - ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c} * {!N}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CurrentScope2MBCalculation</name>
        <dataType>Number</dataType>
        <expression>{!CurrentSMIP.Scope_2_MB_Scenario_Emissions__c} * ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Value__c} - ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c} * {!N}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CurrentScope3Calculation</name>
        <dataType>Number</dataType>
        <expression>{!CurrentSMIP.Scope_3_Scenario_Emissions__c} * ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Value__c} - ({!$Record.Scenario_Logic_Coefficient__r.Coefficient_Spread_Value__c} * {!N}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>InitialRECOffset</name>
        <dataType>Number</dataType>
        <expression>-1 * {!Get_Baseline_Annual_Emissions_Inventory.Scope_2_MB_Emissions_Offset_from_RECs__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>PeriodYearPlusN</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!$Record.Baseline_Year__c})+{!N})</expression>
    </formulas>
    <interviewLabel>Scenario Model Input After Insert Record Triggered FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scenario Model Input After Insert / Update Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMIP_Records</name>
        <label>Create SMIP Records</label>
        <locationX>2696</locationX>
        <locationY>511</locationY>
        <inputReference>SMIPsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMIP_Records_0</name>
        <label>Create SMIP Records</label>
        <locationX>50</locationX>
        <locationY>626</locationY>
        <inputReference>SMIPsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMIP_Records_0_0</name>
        <label>Create SMIP Records</label>
        <locationX>29</locationX>
        <locationY>1230</locationY>
        <inputReference>SMIPsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMIP_Records_0_0_0</name>
        <label>Create SMIP Records</label>
        <locationX>1</locationX>
        <locationY>1959</locationY>
        <inputReference>SMIPsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SMIP_Records_0_0_0_0</name>
        <label>Create SMIP Records</label>
        <locationX>30</locationX>
        <locationY>2870</locationY>
        <inputReference>SMIPsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_SMIP_Records</name>
        <label>Delete Existing SMIP Records</label>
        <locationX>1637</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>Input_Type</targetReference>
        </connector>
        <inputReference>Get_SMIP_Records_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Baseline_Annual_Emissions_Inventory</name>
        <label>Get Baseline Annual Emissions Inventory</label>
        <locationX>1099</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Emissions_Inventory_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnnualEmssnInventory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Annual_Emissions_Inventory_Scope1</name>
        <label>Get Baseline Annual Emissions Inventory</label>
        <locationX>1305</locationX>
        <locationY>1234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Emissions_Inventory_Returned_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnnualEmssnInventory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Annual_Emissions_Inventory_Scope2</name>
        <label>Get Baseline Annual Emissions Inventory</label>
        <locationX>1277</locationX>
        <locationY>1963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Emissions_Inventory_Returned_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnnualEmssnInventory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Annual_Emissions_Inventory_Scope3</name>
        <label>Get Baseline Annual Emissions Inventory</label>
        <locationX>1376</locationX>
        <locationY>2874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Emissions_Inventory_Returned_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline_Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnnualEmssnInventory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Product_Carbon_Footprint</name>
        <label>Get Baseline Product Carbon Footprint</label>
        <locationX>1743</locationX>
        <locationY>948</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Product_Carbon_Footprint_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scenario_Logic_Coefficient__r.Baseline_Variable__r.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Carbon_Footprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMIP_Records_to_Delete</name>
        <label>Get SMIP Records to Delete</label>
        <locationX>1638</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMIP_Records_to_Delete_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scenario_Model_Input__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scenario_Model_Input_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1291</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Ready_for_SMIP_Records</targetReference>
        </connector>
        <object>Scenario_Model_Input__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentScope1Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>CurrentScope2LBValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>CurrentScope2MBValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>CurrentScope3Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>CurrentSMIP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scenario_Model_Input_Period__c</objectType>
    </variables>
    <variables>
        <name>N</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Scope1BaselineVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Scope2LBBaselineVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Scope2MBBaselineVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Scope3BaselineVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SMIPsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scenario_Model_Input_Period__c</objectType>
    </variables>
</Flow>
